body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
    color: #FFF;
}
#start-page{
    z-index: -1;
    display: none;
}
.play-btn-start{
    border-radius: 50%;
    color: #ffffff;
    font-size: 32px;
    font-weight: 800;
    background: #F8DF01;
    padding: 50px 10px 50px 10px;
    border: solid #fff 5px;
    text-decoration: none;
    margin-top: 6px;
    cursor: pointer;
    -webkit-text-stroke: 2px black;
    letter-spacing: 1px;
    animation-name: changeColor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.play-btn-start:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
@keyframes changeColor {
    0% {
      background: #F8DF01;
    }
    50% {
      background: #CC6600;
    }
    100% {
      background: #F8DF01;
    }
  }
#bg-img {
    width: 1000px;
    height: 700px;
    position: absolute;
    z-index: -100;
}
#instructions {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}
#instructions h2{
    text-align: center;
    font-weight: bold;
    padding: 200px 0 20px 0;
    margin: 0;
}
#instructions ul{
    background-color: #786c00;
    margin: 0;
    padding: 20px;
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li:first-child {
    margin-left: 30px;
    margin-bottom: 0;
}
li {
    margin: 10px 0;
}
#select-player-page {
    display: none;
    background-color: black;
    width: 1000px;
    height: 700px;
}
#select-player-page h1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    padding-top: 40px;
}
.btn {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.pick-pathogen {
    background: none;
    border: none;
    height: 275px;
    margin-left: 22px;
}
#select-player-page img{
    height: 200px;
    width: 160px;
}
#select-player-page .play-btn {
    margin-left: 410px;
}
.play-btn{
    border-radius: 50%;
    color: #ffffff;
    font-size: 32px;
    font-weight: 800;
    background: #F8DF01;
    padding: 50px 20px 50px 20px;
    border: solid #fff 5px;
    text-decoration: none;
    margin-top: 6px;
    cursor: pointer;
    -webkit-text-stroke: 2px black;
    letter-spacing: 1px;
    animation-name: changeColor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.play-btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#bacteria {
    transform: rotate(100deg);
    height: 200px;
    position: absolute;
}
#virus {
    transform: rotate(240deg);
    height: 200px;
    position: absolute;
    margin-left: 800px;
}
#nanovirus {
    transform: rotate(60deg);
    height: 200px;
    position: absolute;
    margin-top: 500px;
    margin-left: 60px;
}
#protozoa {
    transform: rotate(300deg);
    height: 200px;
    position: absolute;
    margin-top: 500px;
    margin-left: 840px;
}
#high-score-page {
    display: none;
    background-color: black;
    width: 1000px;
    height: 700px;
}
#high-score-page h1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    padding-top: 20px;
    color: #F8DF01;
}
#high-score-page ol {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    padding-top: 40px;
    font-size: 32px;
}
.play-btn-next{
    border-radius: 50%;
    color: #ffffff;
    font-size: 32px;
    font-weight: 800;
    background: #F8DF01;
    padding: 50px 20px 50px 20px;
    border: solid #fff 5px;
    text-decoration: none;
    margin-top: 6px;
    cursor: pointer;
    -webkit-text-stroke: 2px black;
    letter-spacing: 1px;
    margin-left: 400px;
    animation-name: changeColor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.play-btn-next:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#win-page {
    display: none;
    background-color: black;
    width: 1000px;
    height: 700px;
}
#win-page h1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    padding-top: 40px;
    color: #FFD700;
}
#win-page img{
    height: 300px;
    width: 386px;
    margin-bottom: -40px;
    margin-left: 300px;
    animation-name: float;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
#win-page button {
    margin-left: 400px;
    white-space: normal;
    width: 200px;
}
@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
#game-over-page {
    display: none;
    background-color: black;
    width: 1000px;
    height: 700px;
    margin-top: -20px;
}
#game-over-page h1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    padding-top: 10px;
}
#game-over-page h5 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}
#game-over-page button {
    margin-left: 400px;
    white-space: normal;
    width: 200px;
}
#virus-gameover {
    position: relative;
    height: 60px;
    margin-left: 220px;
    margin-bottom: 80px;
    margin-top: 180px;
    animation-name: pursue;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
.vaccine {
    position: relative;
    height: 60px;
    margin-top: 180px;
    margin-bottom: 80px;
    animation-name: pursue;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes pursue {
    from {
        right: -40%;
        max-width: 100%;
      }
      to {
        right: 60%;
        max-width: 100%;
      }
  }
#my-canvas {
    display: none;
}